.idea
*.iml
.DS_Store
.venv*
.pvenv
.nox
node_modules

.envrc
*.pyc
*.egg-info
*egg-info/
dist
build
_build
.cache/
*pycache*
.tox/
.cache/
.pytest_cache
.coverage
coverage.xml
.doctrees
docs/github_images/
.eggs/


.devcontainer/
.vscode/
.dockerignore

.benchmarks/
tests/cypress/
cypress/

output.json
mem_out.*

pyinstrument*
*.prof

uv.lock

schema_debug/
