[tool.poetry]
name = "sphinx-needs"

# !! Don't miss updates in needs.py, conf.py, changelog.rst, and .github/workflows/docker !!!
version = "1.0.1"

description = "Sphinx needs extension for managing needs/requirements and specifications"
authors = ["team useblocks <info@useblocks.com>"]
license = "MIT"
readme = "README.rst"
repository = "http://github.com/useblocks/sphinxcontrib-needs"
documentation = "https://sphinxcontrib-needs.readthedocs.io/en/latest/"
classifiers=[
        'Development Status :: 5 - Production/Stable',
        'Intended Audience :: Developers',
        'License :: OSI Approved :: MIT License',
        'Operating System :: OS Independent',
        'Programming Language :: Python',
        'Programming Language :: Python :: 3',
        'Programming Language :: Python :: 3.6',
        'Programming Language :: Python :: 3.7',
        'Programming Language :: Python :: 3.8',
        'Topic :: Documentation',
        'Topic :: Utilities',
        'Framework :: Sphinx :: Extension',
    ]

packages = [
    {include = "sphinx_needs"}
#    {include = "sphinxcontrib", from = "."}
]

[tool.poetry.dependencies]
python = ">3.6.2,<4.0"
sphinx = [
    { version = ">2.2, <=3.0", python = "~3.6" },
    { version = ">2.2", python = ">=3.7" },
]
matplotlib = ">3.1.0"  # needpie
requests-file = "^1.5.1"  # external links
requests = "^2.25.1"  # external_links
jsonschema = "3.2.0"  # needsimport schema validation
sphinx-data-viewer = "^0.1.1"  # needservice debug output

[tool.poetry.dev-dependencies]
pre-commit = "^2"
# test dependencies
lxml = "^4.6.5"
pytest = ">6.2.5"
pytest-xdist="*"  # parallelisation
responses = "^0.12.1"
requests-mock = ">=1.9.3"


# formatting dependencies
black = "^22.3"
isort = "^5.7.0"

# pyparsing 3.0.5 does not work with current "packaging" lib
pyparsing = "!=3.0.5"  # 3.0.5 error: https://github.com/pyparsing/pyparsing/issues/329

[tool.black]
line-length = 120

[tool.isort]
profile = "black"

[tool.mypy]
strict = true
show_error_codes = true
files = "sphinxcontrib"

[[tool.mypy.overrides]]
module = [
  'sphinxcontrib.needs.api.*',
  'sphinxcontrib.needs.builder.*',
  'sphinxcontrib.needs.config.*',
  'sphinxcontrib.needs.diagrams_common.*',
  'sphinxcontrib.needs.directives.*',
  'sphinxcontrib.needs.environment.*',
  'sphinxcontrib.needs.external_needs.*',
  'sphinxcontrib.needs.filter_common.*',
  'sphinxcontrib.needs.functions.*',
  'sphinxcontrib.needs.layout.*',
  'sphinxcontrib.needs.logging.*',
  'sphinxcontrib.needs.needs.*',
  'sphinxcontrib.needs.needsfile.*',
  'sphinxcontrib.needs.nodes.*',
  'sphinxcontrib.needs.roles.*',
  'sphinxcontrib.needs.services.*',
  'sphinxcontrib.needs.utils.*',
  'sphinxcontrib.needs.warnings.*',
]
ignore_errors = true

[tool.poetry.extras]
docs = ["sphinx>=4.0"]

[build-system]
requires = ["poetry-core>=1.0.8"]
build-backend = "poetry.core.masonry.api"

