/* Colors based on https://flatuicolors.com/palette/se */

:root {
    --sn-color-bg-gray: #eee;
    --sn-color-bg-lightgray: rgba(0,0,0,0.004);
    --sn-color-bg-green: #05c46b;
    --sn-color-bg-red: #ff3f34;
    --sn-color-bg-yellow: #ffc048;
    --sn-color-bg-blue: #0fbcf9;

    --sn-color-border-lightgray: rgba(0,0,0,0.05);
    --sn-color-border-green: #05c46b;
    --sn-color-border-red: #ff3f34;
    --sn-color-border-yellow: #ffc048;
    --sn-color-border-blue: #0fbcf9;

    --sn-color-bar-green: #05c46b;
    --sn-color-bar-red: #ff3f34;
    --sn-color-bar-yellow: #ffc048;
    --sn-color-bar-orange: #e67e22;
    --sn-color-bar-blue: #0fbcf9;

    --sn-color-need-border: #555;
    --sn-color-need-row-border: hsla(232,75%,95%,0.12);
    --sn-color-need-bg: #eee;
    --sn-color-need-bg-head: rgba(0,0,0,0.1);

    --sn-color-complete-bg-head: rgba(0,0,0,0.1);
    --sn-color-complete-bg-foot: rgba(0,0,0,0.1);

    --sn-color-datatable-body-bg: transparent;
    --sn-color-datatable-label: #333;
    --sn-color-datatable-btn-border: #999;

    --sn-color-debug-btn-border: #333;
    --sn-color-debug-btn-on-text: #f43333;
    --sn-color-debug-btn-off-text: #096285;

    --sn-color-forbidden-dead-link: #dc3545;
}
