/*Colors based on https://flatuicolors.com/palette/se*/

/* ********************* */
/* Full need table color */
/* ********************* */
table.needs_style_gray,
table.needs_style_gray tr,
table.needs_style_gray td {
    background-color: #333;
}

/* CLEAN*/
table.needs_style_clean,
table.needs_style_clean tr,
table.needs_style_clean td{
    margin-bottom: 10px;
    border: none !important;
    background: None !important;
    padding: 0;
    box-shadow: None;
}

table.needs_style_clean {
    width: 100%;
}

/* DISCREET */
table.needs_style_discreet,
table.needs_style_discreet tr.need,
table.needs_style_discreet td.need {
    background-color: rgba(255,255,255,0.1) !important;
}


/* GREEN */
table.needs_style_green,
table.needs_style_green tr.need,
table.needs_style_green td.need,
table.needs_style_implemented,
table.needs_style_implemented tr.need,
table.needs_style_implemented td.need {
    background-color: #04723c !important;
}

/* RED */
table.needs_style_red,
table.needs_style_red tr.need,
table.needs_style_red td.need,
table.needs_style_open,
table.needs_style_open tr.need,
table.needs_style_open td.need {
    background-color: #81201b !important;
}

/* YELLOW */
table.needs_style_yellow,
table.needs_style_yellow tr.need,
table.needs_style_yellow td.need,
table.needs_style_in_progress,
table.needs_style_in_progress tr.need,
table.needs_style_in_progress td.need {
    background-color: #a97c32 !important;
}

/* BLUE*/
table.needs_style_blue,
table.needs_style_blue tr.need,
table.needs_style_blue td.need {
    background-color: #096285 !important;
}

/* **************************** */
/* Border only need table color */
/* **************************** */
table.needs_style_green_border {
    border: 5px solid #04723c !important;
}

table.needs_style_red_border {
    border: 5px solid #81201b !important;
}

table.needs_style_yellow_border {
    border: 5px solid #a97c32 !important;
}

table.needs_style_blue_border {
    border: 5px solid #096285 !important;
}

table.needs_style_discreet_border {
    border: 5px solid rgba(255,255,255,0.2) !important;
}

/* ******************************************************* */
/* Bar on right side that takes 10 % of total table width  */
/* ******************************************************* */

table.needs_style_green_bar {
    background: linear-gradient(to right, transparent 90%, #05c46b 10%);
}

table.needs_style_red_bar {
    background: linear-gradient(to right, transparent 90%, #ff3f34 10%);
}

table.needs_style_orange_bar {
    background: linear-gradient(to right, transparent 90%, #e67e22 10%);
}

table.needs_style_yellow_bar {
    background: linear-gradient(to right, transparent 90%, #ffc048 10%);
}

table.needs_style_blue_bar {
    background: linear-gradient(to right, transparent 90%, #0fbcf9 10%);
}

.collapse_is_hidden {
    display: none;
}