table.need {
    margin-bottom: 10px;
    background-color: #eee;
    border: 1px solid #888;
    width: 100%;
}

table.need td {
    border: none;
}
table.need tr.head {
    background-color: rgba(0,0,0,0.1);
    border-bottom: 1px solid #888;
}

table.need tr.meta {
    border-bottom: 1px solid #888;
    font-size: smaller;
}

table.need tr.footer {
    border-top: 1px solid #888;
    font-size: small;
}

table.need a {
    border-bottom: none;
}
