/*Colors based on https://flatuicolors.com/palette/se*/

/* ********************* */
/* Full need table color */
/* ********************* */
table.needs_style_gray,
table.needs_style_gray tr,
table.needs_style_gray td {
    background-color: #eee;
}

table.needs_style_clean,
table.needs_style_clean tr,
table.needs_style_clean td{
    margin-bottom: 10px;
    border: none !important;
    background: None !important;
    padding: 0;
    box-shadow: None;
}

table.needs_style_clean {
    width: 100%;
}

/* DISCREET */
table.needs_style_discreet,
table.needs_style_discreet tr.need,
table.needs_style_discreet td.need {
    background-color: rgba(0,0,0,0.004) !important;
    box-shadow: None;
}


table.needs_style_green,
table.needs_style_green tr.need,
table.needs_style_green td.need,
table.needs_style_implemented,
table.needs_style_implemented tr.need,
table.needs_style_implemented td.need {
    background-color: #05c46b !important;
}

table.needs_style_red,
table.needs_style_red tr.need,
table.needs_style_red td.need,
table.needs_style_open,
table.needs_style_open tr.need,
table.needs_style_open td.need {
    background-color: #ff3f34 !important;
}

table.needs_style_yellow,
table.needs_style_yellow tr.need,
table.needs_style_yellow td.need,
table.needs_style_in_progress,
table.needs_style_in_progress tr.need,
table.needs_style_in_progress td.need {
    background-color: #ffc048 !important;
}

table.needs_style_blue,
table.needs_style_blue tr.need,
table.needs_style_blue td.need {
    background-color: #0fbcf9 !important;
}

/* **************************** */
/* Border only need table color */
/* **************************** */
table.needs_style_green_border {
    border: 5px solid #05c46b !important;
}

table.needs_style_red_border {
    border: 5px solid #ff3f34 !important;
}

table.needs_style_yellow_border {
    border: 5px solid #ffc048 !important;
}

table.needs_style_blue_border {
    border: 5px solid #0fbcf9 !important;
}

table.needs_style_discreet_border,
table.needs_style_discreet_border tr.need,
table.needs_style_discreet_border td.need {
    border: 1px solid rgba(0,0,0,0.05) !important;
}
