sphinx>=3.4
sphinxcontrib-plantuml
sphinxcontrib-needs
matplotlib
sphinx-copybutton
sphinxcontrib-programoutput
sphinx-design
# For generating the performance test results.
click
tabulate
sphinx-immaterial
esbonio