sphinx>=4.0
sphinxcontrib-plantuml
sphinx-needs
matplotlib
sphinx-copybutton
sphinxcontrib-programoutput
sphinx-design
# For generating the performance test results.
click
tabulate
sphinx-immaterial
esbonio>=0.13.0