.toggle .header {
    display: block;
    clear: both;
}

.toggle .header:after {
    content: " ▷";
}

.toggle .header.open:after {
    content: " ▽";
}

div.toggle {
    /*border: 2px solid #ddd;*/
    /*padding: 5px;*/
    /*border-radius: 5px;*/
}

dl.need div.toggle {
    margin-top: -15px;
}

div.need div.toggle div.line-block {
    margin-top: 0px;
    margin-left: 30px;
}

/* Readthedocs fixes for tables */
/* **************************** */
div.toggle div.wy-table-responsive {
    display: none;
}

div.toggle div.wy-table-responsive table {
    display: block;
}