.toggle .header {
    display: block;
    clear: both;
}

.toggle .header:after {
    content: " ▷";
}

.toggle .header.open:after {
    content: " ▽";
}

div.toggle {
    /*border: 2px solid #ddd;*/
    /*padding: 5px;*/
    /*border-radius: 5px;*/
}

div.need div.toggle {
    /*margin-top: -15px;*/
}

div.need div.toggle div.line-block {
    margin-top: 0px;
    margin-left: 30px;
}

table.style_needs_green, table.style_needs_implemented {
    background-color: palegreen !important;
}

table.style_needs_red, table.style_needs_open {
    background-color: palevioletred !important;
}

table.style_needs_yellow, table.style_needs_in_progress {
    background-color: palegoldenrod !important;
}

table.style_needs_blue {
    background-color: paleturquoise !important;
}

table.style_needs_green_border {
    border: 5px solid palegreen !important;
}

table.style_needs_red_border {
    border: 5px solid palevioletred !important;
}

table.style_needs_yellow_border {
    border: 5px solid palegoldenrod !important;
}

table.style_needs_blue_border {
    border: 5px solid paleturquoise !important;
}



tr.needs_in_progress td.needs_status p {
    background-color: #1b6082;
    padding: 3px 5px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #212174;
    color: #ffffff;
}
