/* whole NEED */
dl.need {
    background-color: #333;
    padding: 5px 10px 5px 10px;
    margin: 5px 0px;
    border-radius: 3px;
    color: #eeeeee;
}

span.needs-type {
    color: #aaa;
}

span.needs-title {
    font-weight: bold;
}

span.needs-id {
    font-size: 80%;
    color: #aaa;
}

span.needs-tag {
    background-color: #ccc;
    border-radius: 5px;
    padding: 0 5px;
    color: #333333;
}

span.needs-status {
    background-color: #004b6b;
    color: #fff;
    border-radius: 5px;
    padding: 0 5px;
}

em.need_outgoing {
    background-color: #517918;
    color: #fff;
    border-radius: 5px;
    padding: 0 5px;
}

em.need_incoming {
    background-color: #c65d09;
    color: #fff;
    border-radius: 5px;
    padding: 0 5px;
}

em.need {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 0 5px;
}


/* DataTable layout*/
table.dataTable {
    border-collapse: collapse;
    border: none;
}

div.dataTables_length {
    margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.15em 0.75em;
    background: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: none;
}

div.dataTables_length select {
    background: none;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: inherit;
}

table.dataTable tbody tr {
    background-color: inherit;
}