/* whole NEED */
div.need {
    background-color: #eee;
    padding: 5px 10px 5px 10px;
    margin: 5px 0px;
    border-radius: 3px;
}

span.needs-type {
    color: #444;
}

span.needs-title {
    font-weight: bold;
}

span.needs-id, a.needs-id {
    font-size: 80%;
    color: #aaa;
}

span.needs-tag {
    background-color: #ccc;
    border-radius: 5px;
    padding: 0 5px;
}

span.needs-status {
    background-color: #004b6b;
    color: #fff;
    border-radius: 5px;
    padding: 0 5px;
}

em.need_outgoing {

}

em.need_incoming {

}


/* DataTable layout*/
table.dataTable {
    border-collapse: collapse;
    border: none;
}

div.dataTables_length {
    margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.15em 0.75em;
    background: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: none;
}

div.dataTables_length select {
    background: none;
}

/*DataTables Download Buttons*/
div.dt-buttons {
   margin-left: 10%;
}

div.dt-buttons button {
    padding: 0.1em 1em;
    border: 1px solid #999;
    border-radius: 2px;
    font-size: 0.88em;
    line-height: inherit;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    background-color: inherit;
    background-image: none;
}