table.need {
    margin-bottom: 10px;
    background-color: #eee;
    border: 1px solid #888;
    width: 100%;
}

table.need td {
    border: none;
}
table.need tr.head {
    background-color: rgba(0,0,0,0.1);
}

table.need.layout_complex td.head_left {
    text-align: left;
    background-color: rgba(0,0,0,0.1);
}

table.need.layout_complex td.head_center {
    text-align: center;
}

table.need.layout_complex td.head_right {
    text-align: right;
    background-color: rgba(0,0,0,0.1);
}

table.need.layout_complex tr.footer {
    text-align: right;
    background-color: rgba(0,0,0,0.1);
}


table.need tr.meta {
    border-bottom: 1px solid #888;
    border-top: 1px solid #888;
    font-size: smaller;
}

table.need tr.footer {
    border-top: 1px solid #888;
    font-size: small;
}

table.need a {
    border-bottom: none;
}

/*END NEW STUFF*/
/*END NEW STUFF*/
/*END NEW STUFF*/


/* whole NEED */
div.need {
    background-color: #eee;
    padding: 5px 10px 5px 10px;
    margin: 5px 0px;
    border-radius: 3px;
}

span.needs_type {
    color: #444;
}

span.needs_title {
    font-weight: bold;
}

span.needs_id, a.needs_id {
    font-size: 80%;
    color: #aaa;
}

span.needs_tags span.needs_data {
    background-color: #ccc;
    border-radius: 5px;
    padding: 0 5px;
}

span.needs_status span.needs_data{
    background-color: #004b6b;
    color: #fff;
    border-radius: 5px;
    padding: 0 5px;
}



em.need_outgoing {

}

em.need_incoming {

}


/* DataTable layout*/
table.dataTable {
    border-collapse: collapse;
    border: none;
}

div.dataTables_length {
    margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.15em 0.75em;
    background: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: none;
}

div.dataTables_length select {
    background: none;
}

/*DataTables Download Buttons*/
div.dt-buttons {
   margin-left: 10%;
}

div.dt-buttons button {
    padding: 0.1em 1em;
    border: 1px solid #999;
    border-radius: 2px;
    font-size: 0.88em;
    line-height: inherit;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    background-color: inherit;
    background-image: none;
}
