@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400&display=swap');

body,
input {
    font-family: 'Recursive', sans-serif !important;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 1.5 !important;
}

.md-typeset, .md-nav, .md-typeset table:not([class]) {
    font-size: 16px !important;
    line-height: 1.5 !important;
}


h1, h2, h3 {
    font-family: 'Recursive', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1.4 !important;
}

h1 {
    font-size: 34px !important;
    margin-bottom: 20px !important;
}

h2 {
    font-size: 24px !important;
    margin-bottom: 10px !important;
}

h3 {
    font-size: 18px !important;
    margin-bottom: 10px !important;
}

.underline {
    text-decoration: underline;

}

[data-md-color-scheme=default] {
    --img-filter: brightness(0) invert(0);
}

[data-md-color-scheme=slate] {
    --img-filter: brightness(0) invert(1);
}

img.needs-logo-big {
    filter: var(--img-filter);
}

tbody tr td {
    font-size: medium !important;
  }

  [data-md-color-scheme=default]{
    --img-filter: brightness(0) invert(0);
  }

  [data-md-color-scheme=slate]{
    --img-filter: brightness(0) invert(1);
  }

  img.needs-logo-big{
    filter: var(--img-filter);
  }

  tbody tr td {
    font-size: medium!important;
}

.dataTables_filter input {
    border: 1px solid var(--md-typeset-color);
    margin-bottom: 10px;
    background-color: transparent;
}

table.dataTable tbody tr {
    background-color: transparent !important;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: var(--md-typeset-color) !important;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button, .dataTables_wrapper .dataTables_paginate a.paginate_button.current {
    color: var(--md-typeset-color) !important;
}

div.dataTables_info {
    margin-top: 0 !important;
}

table tbody tr:hover {
    background-color: rgb(147 147 147 / 10%) !important;
}

table.dataTable tbody tr {
    background-color: transparent!important;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
	color: var(--md-typeset-color)!important;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button, .dataTables_wrapper .dataTables_paginate a.paginate_button.current {
    color: var(--md-typeset-color)!important;
}

div.dataTables_info {
    margin-top: 0!important;
}

table tbody tr:hover {
    background-color: rgb(147 147 147 / 10%)!important;
>>>>>>> 99feaf9 (Fixed some CSS design issues, and updated the conf.py and index.rst)
    box-shadow: 0 .05rem 0 var(--md-default-bg-color) inset !important;
}

button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled) {
    color: #000;
}

.dataTables_wrapper .dataTables_filter {
    float: left !important;
    margin-left: 1% !important;
}

div.dt-buttons {
    margin-left: 1% !important;
}

.dataTables_wrapper .dataTables_filter input {
    max-width: 100px !important;
}

.border {
    border: 1px solid var(--md-typeset-color);
}

img[alt="card-img-top"] {
    padding: 1em;
}

/*div.wy-table-responsive table {
    overflow-x: auto !important;
}*/

table.needs_style_red a, table.needs_style_yellow a,
table.needs_style_blue a, table.needs_style_green a {
    color: #040472;
    text-decoration: underline;
}

/*Remove READTHEDOCS version badge*/
.injected {
    display: none !important;
}

table.class_red_border {
    border: 3px solid red;
}

div.dt-button-collection button.dt-button.active:not(.disabled) {
    color: #000 !important;
    border: 1px solid #000 !important;
}

.md-typeset pre {
    overflow-x: auto;
}

div.dt-buttons {
    margin-left: 1%!important;
}

.dataTables_wrapper .dataTables_filter input {
    max-width: 100px!important;
}

.border{
    border: 1px solid var(--md-typeset-color);
}

img[alt="card-img-top"] {
    padding: 1em;
}

/*div.wy-table-responsive table {
    overflow-x: auto !important;
}*/

table.needs_style_red a, table.needs_style_yellow a,
table.needs_style_blue a, table.needs_style_green a {
    color: #040472;
    text-decoration: underline;
}

/*Remove READTHEDOCS version badge*/
.injected {
    display: none!important;
}

table.class_red_border {
    border: 3px solid red;
}
