name: CI
on: [pull_request]
jobs:
  tests:
    name: "Test (python: ${{ matrix.python-version }}, sphinx: ${{ matrix.sphinx-version }})"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true  # Set on "false" to get the results of ALL builds
      matrix:
        os: [ubuntu-20.04]
        # 3.9.8 seems to be broken with type_ast
        # https://www.mail-archive.com/debian-bugs-dist@lists.debian.org/msg1829077.html
        python-version: ["3.6", "3.8", "3.9.7"]

        sphinx-version: ["3.2", '3.5.4', '4.1', '4.2']
        exclude:
          - python-version: "3.6"
            sphinx-version: "3.2"
    steps:
      - uses: actions/checkout@v2
      - name: Set Up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Nox Dependencies
        run: |
          python -m pip install poetry nox nox-poetry pyparsing==3.0.4
      - name: Final package list
        run: |
          pip freeze
      - name: Run Tests
        run: nox --non-interactive --session "tests-${{ matrix.python-version }}(sphinx='${{ matrix.sphinx-version }}')" -- --full-trace

  lint:
    name: Lint
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set Up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - uses: pre-commit/action@v2.0.3

  linkcheck:
    name: Docs-Linkcheck
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set Up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install Nox Dependencies
        run: |
          python -m pip install poetry nox nox-poetry pyparsing==3.0.4
      - name: Run LinkCheck
        run: nox --non-interactive --session linkcheck -- --full-trace
