name: Docs CI
on:
  pull_request:
    paths: [docs/**]
jobs:
  linkcheck:
    name: Docs-Linkcheck
    runs-on: ubuntu-20.04
    env:
      ON_CI: true
    steps:
      - uses: actions/checkout@v3.2.0
      - name: Set Up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install Nox Dependencies
        run: |
          python -m pip install poetry nox nox-poetry pyparsing==3.0.4
      - name: Run LinkCheck
        run: nox --non-interactive --session linkcheck -- --full-trace
